[submodule "windLab"]
	path = windLab
	url = https://github.com/kfdani/windLab.git
[submodule "seaLab"]
	path = seaLab
	url = https://github.com/kfdani/seaLab.git
[submodule "seismicLab"]
	path = seismicLab
	url = https://github.com/kfdani/seismicLab.git
